{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<div id="divtxt"><center><h3><b>Our wide scope of work includes <br> customized 
    diet planning for "weight loss,<br> weight gain,
    sport nutrition"</b></h3></center>
</div>
<div id="divtxt1"><center> <h3><b> Genuine and healthy
    weight loss/gain. <br> No pills/supplements
    or meal <br> replacers given. Focuses on
    Lifestyle <br> modification rather than
    focusing <br> on only one change. Easy <br>affordability with options</b></h3></center></div>

{% endblock body %}